:root {
    --main-color: #881010;
    --title-font-family: 'Ubuntu', sans-serif;
    --theme-color: #010409;
    --theme-font-color: #f0f6fc;
}

* {
    cursor: none;
}

body {
    margin: 0;
    background: var(--theme-color)
}

.cursor {
    width: 35px;
    height: 35px;
    position: fixed;
    background: transparent;
    border: 2px solid var(--main-color);
    pointer-events: none;
    border-radius: 100%;
    transition: 0.15s;
    z-index: 1000;
}

.point {
    width: 7.5px;
    height: 7.5px;
    position: fixed;
    background: var(--main-color);
    border: 100% solid var(--main-color);
    pointer-events: none;
    border-radius: 100%;
    z-index: 1005;
}

.link-grow {
    transform: scale(2);
    background-color: var(--main-color);
    opacity: 0.35;
    pointer-events: none;
}


/* HEADER */

header .container {
    width: 110%;
    position: fixed;
    display: flex;
    direction: row;
    height: 110px;
    background: var(--theme-color);
    box-shadow: 0px 7px 30px #76767680;
    z-index: 100;
    left: 0px;
}

header .container:hover {
    box-shadow: 0px 7px 30px var(--main-color);
}

header .container .space-begin {
    flex: 0.5;
}

header .container .logo-container {
    flex: 1;
    min-height: 50px;
    min-width: 50px;
    max-height: 80px;
    max-width: 80px;
    position: relative;
    margin: auto;
}

header .container .title {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

header .container .title h1 {
    color: var(--theme-font-color);
    font-family: var(--title-font-family);
}

header .container .space-middle {
    flex: 0;
}

header .container .menu-container {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

header .container .menu-container ul {
    display: inline;
}

header .container .menu-container ul li {
    display: inline;
}

header .container .menu-container ul li a {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--title-font-family);
    padding: 0 7.5px;
    color: var(--theme-font-color);
    text-decoration: none;
    transition: 0.5s;
}

header .container .menu-container ul li:hover a {
    font-size: 20px;
    padding: 0 5px;
    letter-spacing: 1.02px;
    color: var(--main-color);
    transition: 0.5s;
}

header .container .media-container {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .media {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .media-container ul {
    display: inline;
    display: flex;
}

header .container .media-container ul li {
    display: inline;
    flex: 1;
    width: 25%;
}

header .container .media-container ul li a {
    font-size: 20px;
    padding: 0 10px;
    color: var(--main-color);
    transition: 0.7s;
}

header .container .media-container ul li:hover a {
    font-size: 21px;
    padding: 0 10px;
    letter-spacing: 1.001px;
    color: var(--main-color);
    transition: 0.7s;
}

header .container .space-end {
    flex: 1;
}


/* // HEADER */


/*  MAİN */

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    top: 110px;
}

.main .row {
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

.main .slider {
    height: calc(100%-110px);
    display: flex;
}

.main .slider .title {
    position: absolute;
    width: 50%;
    height: 50px;
    font-family: var(--title-font-family);
    left: 15%;
    top: 30vh;
}

.main .slider .title h1 {
    font-size: 80px;
    color: var(--main-color);
    text-transform: uppercase;
}

.main .slider .title span {
    color: transparent;
    -webkit-text-stroke: 0.1px var(--main-color)
}

.main .slider .title .typing {
    margin-top: -30px;
    font-size: 20px;
}

.main .slider .sol {
    flex: 1;
    order: 1;
}

.main .slider .sag {
    flex: 1;
    order: 2;
    background: url("../images/slider/zuko.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* // MAİN */